html {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 6%;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: antiquewhite;
}

/* image */

.image img{
    width: 500px;
    height: 380px;
}

.image {
    text-align: center;
}

/* general */

p {
    font-weight: 300;
    line-height: 20px;

}

ul {
    line-height: 35px;
    list-style-type: disc;
}

/* links */

a:link {
    font-weight: 700;
    color: rebeccapurple;
    text-decoration: none;
}

a:active {
    color: orange;
}

a:hover {
    color:brown;
}

/* specific elements */

.main_text {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.main_header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 10px;
    color: rebeccapurple;
}

.subheading {
    background-color: rgba(65, 77, 215, 0.333);
    line-height: 50px;
    text-transform: uppercase;
    color: brown;
    text-indent: 30px;
}

input{
    font-size: large;
    padding: 12px 24px;
} 